body {
	background-color: #345678;
}

font-family: "avenir", sans-serif;
   font-size: 18px; 
   color: white;
   font-style: italic;
   text-align: center;
}

ul{ 
font-family: "avenir", sans-serif;
   font-size: 18px; 
   color: white;
   font-style: italic;
   text-align: center;
}